body
{
  height: calc(100vh - 50px);
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
    background-color: black;
    display: block;
  }
  h1
  {
    color: red;
    text-decoration: solid;     
  }